# Налаштування та кеш середовища розробки CLion
.idea
cmake-build-debug
cmake-build-release

# Результати компіляції та об'єктні файли
.o
.obj
.exe
.a
.lib

# Бібліотеки в корені, які копіюються під час збірки
.dll

# Виняток обов'язково зберігаємо вміст нашої папки bin з залежностями
!bin
!bin.dll

# Системне сміття операційної системи Windows
Thumbs.db
desktop.ini